* {
    border: none;
    padding: 0;
    margin: 0;
}

.Heading {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    background-color: gold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}