* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {

    background-color: lightblue;
}

/** Heading **/

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-self: center;

    
    box-shadow: 4px 4px 6px black;
    background-color:white;

    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: xx-large;
    font-weight:bolder;
    
   
    text-align: center;
}

.title {
    justify-content: flex-start;
    align-self: center;

    padding-left: 40px;
}

.more {
    padding-right: 40px;
    align-self: center;
    text-decoration: none;
    color: black;
}

/** First Row Box Styles**/

.firstLineTickTackToe {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    height: 750px;

    background-color: whitesmoke;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 6px black;



}
/** TickTackToe box Styles **/
.js-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    

    width: 400px;
    height: 400px;

    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
.playerTurn {
    font-family:Arial, Helvetica, sans-serif;
}

.board {
    
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.row {
    display: flex;
}

.js-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    font-family:Arial, Helvetica, sans-serif;
}



/**Text styles**/

.js-winner {
    display: flex;
}

.js-winner {
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    margin-top: 40px;
    margin-left: 40px;
    font-weight: medium;
    font-family:Arial, Helvetica, sans-serif;
}