@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}



.candy-img-bg {
    top: 5.5vh;
    height: 94.5vh;
    width: 100%;
    
    position: fixed;
    z-index:-1;
}

.body-bg {
    background-color:aliceblue;
    height: 100vh;
    
}

.blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background-color: black;
    opacity: 40%;
    z-index: 2;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;

    height: 5.5vh;

    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-color: #5eead4;
    


}

.border {
    border-right: 1px solid black;
}

h1 {
    padding-right: 11%;
}
.crypto_converter_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100vh;
    height: 45vh;
    margin: auto;
    margin-top: 200vh;
    
    padding: 5vh;

    background-color: #e6d7ff;
    box-shadow: 1px 1px 10px black;
}

.from_container, .to_container {
    background-color: #d2afff;

    padding: 2vh;
}

.from_menu, .to_menu, .decimals {
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vh 1vh;
    width: 30vh;
    height: 5vh;

    font-family: Lato, Arial, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-shadow: 0px 0px 15px black;
    border-radius: 5px;

      

}

.from_arrow, .to_arrow {
    width: 0px;
    height: 0px;

    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid black;

    cursor: pointer;

    
}

.decimals {
    margin-top: 1vh;
}

.from_list.active, .to_list.active {
    
    left:auto;
}

.from_list, .to_list {
    display: flex;
    flex-wrap: wrap;

    left: -100%;
    position:fixed;
    width: 30vh;
    
    

}

ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 1px;
    width: 100%;
    
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

button {
    width: 100%;
    background-color:transparent;
    border: none;

}

button:hover {
    background-color: #e6d7ff;
}


 .from_value, .to_value {
    background-color: white;

    width: 30vh;
    padding: 1vh 1vh;
    margin-top: 5px;

    border-radius: 5px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: 0px, 3px, 5px black;


}

.equals {
    display: flex;
    align-items: center;
    
    
    justify-content: center;


    width: 4.5vh;
    height: 4vh;
    

    font-weight: bolder;
    font-size: xx-large;
    color: white;
    background-color: #d2afff;
}

.gas_quote_container {
    display: flex;
    justify-content: center;
    align-items: center;
    

    margin-left: 50vh;
    height: 8vh;
    width: 34vh;

    background-color: #d2afff;
}



.get_quote {
    display: flex;
    justify-content: center;
    align-items: center;
    

    text-align:center;
    height: 5vh;
    width: 10em;
    background-color: white;
    border-radius: 5px;
  

}





.quote {
    position: fixed;

    top: 100%;
    width: 40%;
    height: 40%;
    left: 30%;
    z-index: 2;

    background-color:#d2afff;
    border-radius: 1vh;
}

.top {
    top: 100%;
}



.footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0%;


    width: 100%;
    height: 5%;
    padding: 2vh;

    background-color:#d2afff;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 900;


}